/* Estilos personalizados para SurveyJS */
.sv_main {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.sv_container .sv_header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.sv_container .sv_body .sv_row {
    margin-bottom: 15px;
}

.sv_container .sv_progress-bar {
    background-color: #007bff;
}

.sv_container .sv_row .sv_qstn .sv_qstn_header {
    font-weight: bold;
    margin-bottom: 10px;
}

.sv_container .sv_row .sv_qstn .sv_qstn_comment {
    margin-top: 5px;
}

.sv_container .sv_row input[type="text"],
.sv_container .sv_row select,
.sv_container .sv_row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sv_container .sv_row .sv_q_checkbox_label {
    margin-left: 10px;
}

.sv_container .sv_row .sv_q_radiogroup_label {
    margin-left: 10px;
}

.sd-header__text{
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 10px;
    flex-direction: row;
    text-align: center;
    text-transform: capitalize;
}

.sd-title.sd-container-modern__title {
    padding-bottom: 0;
}

.title1, .title2, .title3{
    text-transform: uppercase;
}

.sd-header__text .sd-title {
    line-height: 30px;
}

.title1{
    font-size: 25px;
}

.title2{
    font-size: 25px;
    color: #000;
}

.title3{
    font-size: 20px;

}

.sd-html h4{
    margin-top: 0;
    
}

.sd-body.sd-body--static{
    padding-top: 0;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sv-components-row>.sv-components-column--expandable{
    background-color: #fff;
}

.sd-completedpage, .sd-completed-before-page{
    text-align: left;
    max-width: calc(90*(var(--sjs-base-unit, var(--base-unit, 8px))));
    margin: auto;
}

.sd-completedpage h5{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .sv-ranking-item__text{
        font-size: 11px;
        margin: 0 calc(1*(var(--sjs-base-unit, var(--base-unit, 8px))))
    }
    
  }


.sv-ranking-item__index.sv-ranking-item__index {
    width: calc(4*(var(--sjs-base-unit, var(--base-unit, 8px))));
    height: calc(4*(var(--sjs-base-unit, var(--base-unit, 8px))));
    font-size: 14px;
}

.sv-ranking-item__icon-container {
    width: calc(2.5*(var(--sjs-base-unit, var(--base-unit, 8px))));
}
